.l-banner-main {
	&__list {
		@include mediaSize(840px) {
			overflow: visible !important;
		}
		.swiper-slide {
			overflow: hidden;
			border-radius: var(--radius-12);
			@include mediaSize(840px) {
				border-radius: 8px;
			}
		}
	}
	&__img {
		transition: all 0.4s ease;
		object-fit: cover;
		width: 100%;
		height: 100%;
		aspect-ratio: 3.55/1;
		&:hover {
			transform: scale(1.05);
		}
		@include mediaSize(840px) {
			aspect-ratio: 2.29/1;
		}
	}
	&__btn {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		z-index: 10;
		@include mediaSize(840px) {
			display: none;
		}
		.icon--arrow {
			min-width: 24px;
			height: 24px;
			width: 24px;
			fill: var(--color-fr);
		}
		&.left {
			left: 24px;
		}
		&.right {
			right: 24px;
		}
	}
}
