.l-categories-main__grid {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr 1fr;
	gap: 24px;
	margin-top: 32px;
	@include mediaSize(1100px) {
		gap: 8px;
		margin-top: 16px;
	}

	@include mediaSize(840px) {
		grid-template-columns: 1fr 1fr;
	}
}

.category-item {
	position: relative;
	overflow: hidden;
	border-radius: 12px;
	display: flex;
	justify-content: center;
	align-items: center;
	max-height: 326px;
	@include mediaSize(840px) {
		max-height: unset;
		border-radius: 8px;
		aspect-ratio: 1/1;
	}
	&__image {
		width: 100%;
		height: 100%;
		object-fit: cover;
		transition: all 0.3s ease;
		filter: brightness(0.8);
	}
	&__label {
		position: absolute;
		top: 24px;
		left: 24px;
		color: white;
		font-size: clamp(1.25rem, 0.3125rem + 3vw, 2rem);
		font-weight: 600;
		z-index: 2;
		@include mediaSize(840px) {
			top: 8px;
			left: 8px;
		}
	}
	&:hover {
		.category-item__image {
			transform: scale(1.05);
			filter: brightness(1);
		}
	}
	&:first-child {
		grid-column: 2 span;
		grid-row: 2 span;
		max-height: 100%;
		@include mediaSize(840px) {
			grid-row: unset;
			grid-column: unset;
			max-height: unset;
		}
	}
	&:nth-child(4) {
		grid-column-start: 3;
		grid-row-start: 2;
		grid-column-end: 5;
		@include mediaSize(840px) {
			grid-column-start: unset;
			grid-row-start: unset;
			grid-column-end: unset;
		}
	}
}
