html {
	scroll-behavior: smooth;
	background-color: #f9fafb;
}

body {
	color: var(--color-fr);
	font-family: var(--font-main);
	text-wrap: balance;
	min-width: 340px;
}
// это стики хуйня надо ли? upd: nado ebit
html,
body {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}

img {
	display: block;
}

a {
	color: inherit;
}
