html {
	scroll-behavior: smooth;
	background-color: #f9fafb;
}

body {
	color: var(--color-fr);
	font-family: var(--font-main);
	text-wrap: balance;
	min-width: 340px;
}
// это стики хуйня надо ли?
html,
body {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}
.footer {
	margin-top: auto;
}

.footer {
	padding: 60px 0;
	background-color: #e3e3e3;
}

img {
	display: block;
}

a {
	color: inherit;
}
