.l-wrapper {
	margin: 0 auto;
	padding: 0 var(--container-padding);
	max-width: var(--container-width);
	width: 100%;
	@include mediaSize(1200px) {
		padding: 0 24px;
	}
	@include mediaSize(840px) {
		padding: 0 18px;
	}
	@include mediaSize(768px) {
		padding: 0 16px;
	}
}
.l-section {
	padding: 24px 0;
	@include mediaSize(768px) {
		padding: 16px 0;
	}
}