.none {
	display: none !important;
}

.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	white-space: nowrap;
	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}

.no-scroll {
	overflow-y: hidden;
}

.text-left {
	text-align: left;
}

.text-right {
	text-align: right;
}

.text-center {
	text-align: center;
}

.d-flex {
	display: flex;
}
.items-center {
	align-items: center;
}
.gap-8 {
	gap: 8px;
}
.flex-center {
	justify-content: center;
}

.js-dropdown {
	position: relative;
	&-content {
		display: none;
		opacity: 0;
		position: absolute;
		top: 180%;
		left: 0;
		z-index: 10;

		transition: opacity 0.4s ease, display 0.4s ease allow-discrete;
	}
	&.active {
		.js-dropdown-content {
			display: block;
			opacity: 1;
		}
	}
}
@starting-style {
	.js-dropdown.active .js-dropdown-content {
		opacity: 0;
	}
}
