.none,
.hidden {
	display: none !important;
}

.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	white-space: nowrap;
	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}

.no-scroll {
	overflow: hidden;
}

.text-center {
	text-align: center;
}
.w-full {
	width: 100%;
}
.h-full {
	height: 100%;
}
.d-flex {
	display: flex;
}
.items-center {
	align-items: center;
}
.gap-24 {
	gap: 24px;
}
.gap-16 {
	gap: 16px;
}
.gap-14 {
	gap: 14px;
}
.gap-12 {
	gap: 12px;
}
.gap-8 {
	gap: 8px;
}
.gap-4 {
	gap: 4px;
}
.flex-center {
	justify-content: center;
}
.flex-col {
	flex-direction: column;
}
.flex-grow-0 {
	flex-grow: 0;
}
.flex-grow-1 {
	flex-grow: 1;
}
.justify-between {
	justify-content: space-between;
}
.justify-end {
	justify-content: flex-end;
}

.js-dropdown {
	position: relative;
	&-content {
		display: none;
		opacity: 0;
		position: absolute;
		top: 180%;
		left: 0;
		z-index: 10;

		transition: opacity 0.4s ease, display 0.4s ease allow-discrete;
		max-height: 212px;
		overflow-y: auto;
		scrollbar-width: thin !important; /* "auto", "thin", или "none" */
		scrollbar-color: #c1c1c1 white !important; /* Цвет бегунка и трека */
		&::-webkit-scrollbar {
			width: 4px !important;
			background-color: white !important;
		}
		&::-webkit-scrollbar-thumb {
			background-color: #c1c1c1 !important;
		}
	}
	&.active {
		.js-dropdown-content {
			display: block;
			opacity: 1;
		}
		.arrow {
			transform: rotate(180deg);
		}
	}
}
@starting-style {
	.js-dropdown.active .js-dropdown-content {
		opacity: 0;
	}
}

.l-badge {
	padding: 4px 8px;
	border-radius: 4px;
	font-size: 14px;
	font-weight: 500;
	color: white;
	white-space: nowrap;
	&--green {
		background-color: #34b263;
	}
	&--red {
		background-color: #e14453;
	}
}
.l-grid-section {
	&__base {
		display: grid;
		gap: 24px;
		grid-template-columns: repeat(auto-fill, minmax(340px, 1fr));
		@include mediaSize(540px) {
			grid-template-columns: 1fr 1fr;
			gap: 16px 8px;
		}
	}
}
.l-interested {
	margin-top: 24px;
}
.mt-32 {
	margin-top: 32px;
}
.mt-24-16 {
	margin-top: 24px;
	@include mediaSize(540px) {
		margin-top: 16px;
	}
}
.mt-24 {
	margin-top: 24px;
}
.mt-16 {
	margin-top: 16px;
}
.mt-12 {
	margin-top: 12px;
}
.mt-8 {
	margin-top: 8px;
}
.mt-auto {
	margin-top: auto;
}

.line-clamp-1 {
	display: -webkit-box;
	-webkit-line-clamp: 1;
	-webkit-box-orient: vertical;
	overflow: hidden;
}
.line-clamp-2 {
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	overflow: hidden;
}

.l-radio-color {
	&__list {
		display: flex;
		align-items: center;
		gap: 8px;
	}
	&__item {
		input {
			&:checked + label {
				border-color: #f8b711;
			}
		}
		label {
			border-radius: 12px;
			border: 2px solid #5e5e5e66;
			padding: 4px;
			display: block;
		}
		&-color {
			display: block;
			width: 48px;
			height: 48px;
			border-radius: 8px;
		}
	}
}
