<div id="call-modal" style="display: none;">
    <h2 class="font-semibold text-20 fr-primary">Запросить звонок</h2>
    <!-- <button data-fancybox-close class="modal-close-btn" aria-label="Close">&times;</button> -->
    <form action="#" method="POST" id="call-form">
        <label for="name" class="text-12">Имя</label>
        <input type="text" id="name" name="name" required />

        <label for="phone" class="text-12">Телефон</label>
        <input type="tel" id="phone" name="phone" required />

        <div class="checkbox-container">
            <input type="checkbox" id="consent" name="consent" required />
            <label for="consent" class="font-medium text-14 fr-primary">Даю согласие на обработку персональных данных</label>
        </div>

        <button type="submit" class="modal-submit-btn fr-primary text-16-14 font-medium">Запросить звонок</button>
    </form>
</div>