<nav class="l-pagination">
	<ul class="l-pagination__list font-medium text-18-16 fr-secondary">
		<li class="l-pagination-item disabled">
			<a class="l-pagination-link">
				<svg class="icon icon--arrow pagination left">
					<use href="./img/svgsprite/sprite.symbol.svg#arrow"></use>
				</svg>
			</a>
		</li>
		<li class="l-pagination-item active"><a class="l-pagination-link" href="#">1</a></li>
		<li class="l-pagination-item"><a class="l-pagination-link" href="#">2</a></li>
		<li class="l-pagination-item"><a class="l-pagination-link" href="#">3</a></li>
		<li class="l-pagination-item"><a class="l-pagination-link" href="#">4</a></li>
		<li class="l-pagination-item"><a class="l-pagination-link" href="#">5</a></li>
		<li class="l-pagination-item"><a class="l-pagination-link" href="#">6</a></li>
		<li class="l-pagination-item"><a class="l-pagination-link" href="#">7</a></li>
		<li class="l-pagination-item"><a class="l-pagination-link" href="#">8</a></li>
		<li class="l-pagination-item"><a class="l-pagination-link" href="#">9</a></li>
		<li class="l-pagination-item dots"><a class="l-pagination-link" href="#">...</a></li>
		<li class="l-pagination-item"><a class="l-pagination-link" href="#">10</a></li>
		<li class="l-pagination-item">
			<a class="l-pagination-link" href="#">
				<svg class="icon icon--arrow pagination right">
					<use href="./img/svgsprite/sprite.symbol.svg#arrow"></use>
				</svg>
			</a>
		</li>
	</ul>
</nav>
