<nav class="l-return">
    <ul class="l-return__list fr-secondary text-14 font-medium">
        <li class="l-return__item">
            <a href="./news.html" class="l-return__link">
                <svg class="icon icon--arrow left return">
                    <use href="./img/svgsprite/sprite.symbol.svg#arrow"></use>
                </svg>
            </a>
        </li>
        <li class="l-return__item font-medium text-12 accent-primary">
            <a href="./news.html" class="l-return__link">К новостям</a>
        </li>
    </ul>
</nav>