.l-footer {
	max-width: 1760px;
	width: 100%;
	margin: auto auto 16px auto;
	padding: 0 16px;
	&__container {
		border-radius: 12px;
		background-color: white;
		padding: 52px 72px 48px 72px;
	}
	&__header {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	&__info {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		margin-top: 64px;
		&-contacts {
			max-width: 300px;
			&__content {
				display: flex;
				flex-direction: column;
				gap: 12px;
				margin-top: 16px;
			}
		}
		&-buyer {
			display: flex;
			flex-direction: column;
			gap: 16px;
			&-list {
				display: flex;
				flex-direction: column;
				gap: 12px;
			}
		}
		&-store {
			display: flex;
			flex-direction: column;
			gap: 16px;
			&-list {
				display: flex;
				flex-direction: column;
				gap: 12px;
			}
		}
		&-delivery {
			display: flex;
			flex-direction: column;
			gap: 16px;
			&-list {
				display: flex;
				flex-direction: column;
				gap: 12px;
			}
		}
	}
	&__links {
		display: flex;
		flex-direction: row;
		align-items: flex-start;
		gap: 16px;
		margin-top: 32px;
	}
	&__copyright {
		margin-top: 32px;
		border-top: 1px solid #5e5e5e33;
		&-text {
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			margin-top: 32px;
		}
	}
}
