.l-header {
	background-color: white;
	z-index: 200;
	&__top {
		padding: 16px 0;
		background-color: var(--color-bg-tertiary);
		@include mediaSize(820px) {
			padding: 8px 0;
		}
		&-content {
			display: flex;
			align-items: center;
			justify-content: space-between;
		}
		&-nav {
			@include mediaSize(820px) {
				display: none;
			}
			ul {
				display: flex;
				align-items: center;
				gap: var(--space-48);
				a {
					transition: all 0.4s ease;
					&:hover {
						color: var(--color-fr);
					}
				}
			}
		}
	}
	&__row {
		padding: 24px 0;
		@include mediaSize(820px) {
			padding: 16px 0;
		}
		&-container {
			display: flex;
			align-items: center;
			justify-content: space-between;
			gap: 32px;
		}
		&-left {
			display: grid;
			grid-template-columns: 150px 135px 1fr;
			align-items: center;
			gap: 64px;
			width: 100%;
			@include mediaSize(1180px) {
				gap: 24px;
			}
			@include mediaSize(820px) {
				grid-template-columns: 1fr;
			}
		}
	}
	&__search {
		width: 100%;
		max-width: 913px;
		@include mediaSize(820px) {
			display: none;
		}
	}
	&__user {
		&-list {
			display: flex;
			align-items: center;
			gap: 32px;
			@include mediaSize(1000px) {
				gap: 24px;
			}
		}
		&-link {
			display: flex;
			flex-direction: column;
			align-items: center;
			gap: 8px;
			@include mediaSize(1000px) {
				svg {
					min-width: 24px;
					width: 24px !important;
					height: 24px !important;
				}
				span {
					display: none;
				}
			}
		}
	}
	&__catalog {
		@include mediaSize(820px) {
			display: none;
		}
		&-dropdown {
			@include mediaSize(1000px) {
				// left: -100%;
				position: fixed;
				left: 24px;
				top: 175px;
			}
		}
		&-list--main {
			max-width: 300px;
			width: 100%;
		}
		&-content {
			background-color: white;
			border-radius: 12px;
			padding: 16px;
			box-shadow: 0px 2px 2px 0px #5e5e5e33;
			display: flex;
			gap: 24px;
		}
		&-link {
			border-radius: 8px;
			padding: 8px 12px;
			transition: all 0.4s ease;
			color: var(--color-fr-tertiary);
			font-weight: 500;

			overflow: hidden;
			display: -webkit-box;
			-webkit-box-orient: vertical;
			-webkit-line-clamp: 1;
			white-space: nowrap;
			text-overflow: ellipsis;
			&:hover {
				background-color: #ebebeb;
				color: var(--color-fr);
			}
			&.active {
				background-color: #ebebeb;
				color: var(--color-fr);
			}
		}
		&-sublist {
			padding-left: 24px;
			border-left: 1px solid #5e5e5e33;
			max-width: 420px;
			width: 100%;
		}
	}
	// &__desktop {
	// 	@include mediaSize(820px) {
	// 		display: none;
	// 	}
	// }
	&__mobile {
		display: none;
		@include mediaSize(820px) {
			display: block;
		}
		&-content {
			display: flex;
			align-items: center;
			gap: 8px;
			.input-group {
				width: 100%;
			}
		}
	}
}
.js-header-sublist {
	display: none;
	&.active {
		display: block;
	}
}

.l-city-change {
	&.active {
		.icon--arrow {
			transform: rotate(180deg);
		}
	}
	&__btn {
		display: flex;
		align-items: center;
		gap: 8px;
	}
	&__city {
		display: flex;
		align-items: center;
		gap: 4px;
	}
	&__list {
		padding: 8px;
		box-shadow: 0px 2px 2px 0px #5e5e5e33;
		background-color: white;
		border-radius: 12px;
		li {
			&:not(:last-child) {
				margin-bottom: 8px;
			}
		}
		a {
			padding: 8px;
			position: relative;
			display: flex;
			align-items: center;
			gap: 8px;
			white-space: nowrap;
			border-radius: 6px;
			&:hover {
				background-color: #f9fafb;
			}
			&.active {
				&::before {
					content: '';
					display: block;
					width: 24px;
					height: 24px;
					background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M18.0607 9.06066L11.0607 16.0607C10.7678 16.3536 10.2929 16.3536 10 16.0607L6 12.0607L7.06066 11L10.5303 14.4697L17 8L18.0607 9.06066Z' fill='%23F8B711'/%3E%3C/svg%3E%0A");
					background-size: auto;
					background-repeat: no-repeat;
				}
			}
		}
	}
}

/* Основные стили */
.drilldown-menu {
	position: fixed;
	inset: 0;
	background-color: white;
	transform: translateY(100%);
	transition: transform 0.3s ease-in-out;
	z-index: 2000;
	display: flex;
	flex-direction: column;
}

.drilldown-menu.active {
	transform: translateY(0); /* Показать меню */
}

.menu-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 16px;
	border-bottom: 1px solid #ccc;
	background: #f9f9f9;
}

.menu-title {
	font-size: 18px;
	font-weight: bold;
}

.menu-list {
	list-style: none;
	margin: 0;
	padding: 16px;
}

.menu-item {
	margin-bottom: 10px;
}

.menu-link {
	display: block;
	width: 100%;
	padding: 12px;
	text-align: left;
	background: none;
	border: none;
	font-size: 16px;
	cursor: pointer;
	text-transform: capitalize;
}

.submenu {
	display: none;
	padding-left: 16px;
}

.submenu.active {
	display: block;
}

.back-button {
	display: none;
	font-size: 16px;
	cursor: pointer;
	background: none;
	border: none;
}

.menu-header.level-2 .back-button {
	display: block; /* Показать кнопку назад для второго уровня */
}