.icon {
	fill: transparent;
	stroke: transparent;
	width: 24px;
	height: 24px;
	@include mediaSize(768px) {
		width: 16px;
		height: 16px;
	}
}

.icon--logo {
	max-width: 150px;
	width: 100%;
	height: 43px;
	fill: var(--color-fr-primary);
}

.icon--arrow {
	fill: var(--color-fr-secondary);
	width: 16px;
	height: 16px;
	&.left {
		transform: rotate(180deg);
	}
	&.right {
		transform: rotate(90deg);
	}
	&.down {
		transform: rotate(-90deg);
	}
}
.icon--nav-pin,
.icon--search {
	fill: var(--color-fr-secondary);
}
.icon--heart,
.icon--basket,
.icon--user,
.icon--catalog {
	fill: var(--color-fr);
}
