.inpit-group {
	display: flex;
	flex-direction: column;
	gap: 8px;
	min-width: 300px;
	label {
		// display: block;
		// font-weight: bold;
		// margin-bottom: 5px;
	}
}

.red-dot {
	position: relative;
	&::after {
		content: '*';
		color: #d91528;
		position: absolute;
		left: -10px;
	}
}
