.l-news {
	margin-top: 24px;
	&__grid {
		display: grid;
		margin-top: 32px;
		grid-template-columns: 1fr 1fr 1fr 1fr;
		gap: 24px;
		@include mediaSize(1100px) {
			grid-template-columns: 1fr 1fr 1fr;
		}
		@include mediaSize(900px) {
			grid-template-columns: 1fr 1fr;
		}
		@include mediaSize(520px) {
			grid-template-columns: 1fr;
		}
	}
	&__card {
		border-radius: var(--radius-12);
		border: 1px solid var(--color-border-tertiary);
		overflow: hidden;
		&__img {
			img {
				transition: all 0.4s ease;
				width: 100%;
				&:hover {
					transform: scale(1.05);
				}
			}
		}
		&__content {
			display: flex;
			flex-direction: column;
			gap: 24px;
			padding: 16px;
			&-text {
				display: flex;
				flex-direction: column;
				gap: 16px;
			}
			&-footer {
				display: flex;
				align-items: center;
				gap: 24px;
				&-views {
					display: flex;
					align-items: center;
					gap: 8px;
				}
			}
		}
	}
}
