.l-pay-method {
	&__swiper {
		position: relative;
		overflow: visible !important;
		.swiper-slide {
			width: auto !important;
		}
		.swiper-button-disabled {
			display: none;
		}
		.js-pay-method__prev {
			left: 0;
		}
		.js-pay-method__next {
			right: 0;
		}
	}
	&__card {
		&.active {
			.l-pay-method__card-body {
				border-color: var(--color-accent);
			}
		}
		input {
			&:checked {
				~ .l-pay-method__card-body {
					border-color: var(--color-accent);
				}
			}
		}
		&-body {
			border: 2px solid #5e5e5e33;
			border-radius: 12px;
			padding: 4px;
			height: 130px;
			width: 200px;
			display: block;
			text-align: center;
			@include mediaSize(768px) {
				width: 142px;
				height: 95px;
			}
			.child {
				background-color: #f9fafb;
				border-radius: 8px;
				display: flex;
				align-items: center;
				justify-content: center;
				flex-direction: column;
				gap: 8px;
				height: 100%;
				width: 100%;
			}
			span {
				font-weight: 500;
				font-size: clamp(0.875rem, 0.6339rem + 0.7143vw, 1.125rem);
			}
		}
	}
}

.l-order {
	display: flex;
	gap: 24px;

	@include mediaSize(1240px) {
		flex-direction: column;
	}
	.l-section__item {
		overflow: hidden;
	}
	&__content {
		display: flex;
		flex-direction: column;
		gap: 24px;
		width: calc(100% - 450px);
		@include mediaSize(1240px) {
			width: 100%;
			gap: 12px;
		}
		@include mediaSize(768px) {
			.l-tab {
				&__header {
					flex-direction: column;
					align-items: flex-start;
					gap: 16px;
				}
				&__btns {
					width: 100%;
					&-item {
						width: 100%;
					}
				}
			}
		}
	}
	&__aside {
		position: sticky;
		top: 20px;
		width: 100%;
		height: fit-content;
		display: flex;
		flex-direction: column;
		gap: 24px;

		@include mediaSize(1240px) {
			position: static;
		}
		&-item {
			background-color: white;
			border-radius: 12px;
			padding: 24px;
			height: fit-content;
			@include mediaSize(768px) {
				padding: 16px;
			}
		}
		hr {
			margin: 24px 0;
			width: 100%;
			height: 1px;
			background-color: #5e5e5e33;
			@include mediaSize(1240px) {
				&:first-child {
					display: none;
				}
			}
		}
		@include mediaSize(1240px) {
			[data-hide='true'] {
				display: none;
			}
		}
	}
	&__address {
		display: flex;
		flex-direction: column;
		gap: 24px;
		&-text {
			display: flex;
			flex-direction: column;
			gap: 4px;
		}
		&-item {
			display: flex;
			align-items: center;
			justify-content: space-between;
			@include mediaSize(600px) {
				flex-direction: column;
				gap: 12px;
				align-items: unset;
				.c-button {
					width: fit-content;
					margin-left: auto;
				}
			}
		}
	}
}

.l-tab {
	&__header {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	&__btns {
		display: flex;
		align-items: center;
		padding: 4px;
		border-radius: 12px;
		border: 1px solid #5e5e5e4d;
		background-color: #f9fafb;
		&-item {
			padding: 12px 16px;
			border-radius: 12px;
			transition: all 0.4s ease;
			color: #f8b711;
			background-color: transparent;
			display: block;
			&.active {
				background-color: #f8b711;
				color: #232323;
			}
		}
	}
	&__content {
		&-item {
			display: none;
			&.active {
				display: block;
			}
		}
	}
}
.l-radio {
	&-input {
		display: none !important;
		&:checked {
			~ .l-radio-label {
				border-color: #f8b711;
				.l-radio-label__check {
					border-color: #f8b711;
				}
			}
		}
	}
	&-label {
		min-height: 142px;
		padding: 12px;
		display: flex;
		align-items: flex-start;
		border: 2px solid #5e5e5e33;
		border-radius: 12px;
		&__check {
			border-radius: 50%;
			width: 20px;
			height: 20px;
			border: 2px solid #5e5e5e33;
		}
	}
}
