.l-infobox {
	margin-top: 24px;
	&__text {
		width: 100%;
		margin-top: 48px;
		line-height: 28px;
		@include mediaSize(620px) {
			margin-top: 32px;
		}
	}
	&__img {
		margin-top: 24px;
	}
}

.l-requisites {
	margin-top: 48px;
	&__body {
		display: flex;
		width: 100%;
		margin-top: 24px;
		justify-content: space-between;
		flex-wrap: wrap;
		@include mediaSize(935px) {
			gap: 24px;
		}
		&-text {
			&-list {
				display: flex;
				flex-direction: column;
				gap: 12px;
			}
		}
	}
}
