.l-profile {
	&__section {
		display: flex;
		gap: 24px;
		margin: 24px 0;
		@include mediaSize(1300px) {
			flex-direction: column;
			gap: 16px;
		}
	}
	&__aside {
		min-width: 314px;
		&-item {
			padding: 8px;
			border-radius: 12px;
			background-color: white;
		}
		&-mobile {
			display: none;
			@include mediaSize(1300px) {
				display: block;
			}
			.l-select__btn {
				justify-content: start;
				gap: 12px;
				min-width: unset;
			}
		}
	}
	&__main {
		max-width: 768px;
		width: 100%;
		@include mediaSize(1300px) {
			max-width: 100%;
		}
		.will-column {
			@include mediaSize(768px) {
				flex-direction: column;
			}
		}
	}
	&__title {
		font-size: 20px;
		font-weight: 600;
	}
	&__nav {
		@include mediaSize(1300px) {
			display: none;
		}
		&-list {
			display: flex;
			flex-direction: column;
			gap: 4px;
		}
		&-link {
			padding: 16px;
			border-radius: 8px;
			display: flex;
			align-items: center;
			gap: 8px;
			font-size: clamp(1rem, 0.8438rem + 0.5vw, 1.125rem);
			font-weight: 500;
			transition: all 0.4s ease;
			&:hover {
				background-color: #eceef1;
			}
			&.active {
				background-color: #eceef1;
			}
		}
	}

}
