.l-profile {
	&__section {
		display: flex;
		gap: 24px;
		margin: 24px 0;
		@include mediaSize(1300px) {
			flex-direction: column;
			gap: 16px;
		}
		&.erde {
			@include mediaSize(1600px) {
				gap: 16px;
			}
		}
		.l-order__aside {
			width: auto;
			min-width: 425px;
			@include mediaSize(1600px) {
				min-width: 280px;
			}
		}
	}
	&__aside {
		min-width: 314px;
		&-item {
			padding: 8px;
			border-radius: 12px;
			background-color: white;
		}
		&-mobile {
			display: none;
			@include mediaSize(1300px) {
				display: block;
			}
			.l-select__btn {
				justify-content: start;
				gap: 12px;
				min-width: unset;
			}
		}
	}
	&__main {
		max-width: 768px;
		width: 100%;
		@include mediaSize(1300px) {
			max-width: 100%;
		}
		.will-column {
			@include mediaSize(768px) {
				flex-direction: column;
			}
		}
	}
	&__title {
		font-size: 20px;
		font-weight: 600;
	}
	&__nav {
		@include mediaSize(1300px) {
			display: none;
		}
		&-list {
			display: flex;
			flex-direction: column;
			gap: 4px;
		}
		&-link {
			padding: 16px;
			border-radius: 8px;
			display: flex;
			align-items: center;
			gap: 8px;
			font-size: clamp(1rem, 0.8438rem + 0.5vw, 1.125rem);
			font-weight: 500;
			transition: all 0.4s ease;
			&:hover {
				background-color: #eceef1;
			}
			&.active {
				background-color: #eceef1;
			}
		}
	}
	&__orders {
		&-list {
			display: grid;
			gap: 16px;
			&__item {
				padding: 24px;
				border-radius: 12px;
				background-color: #f9fafb;
				hr {
					display: block;
					margin: 16px 0;
					height: 1px;
					background-color: #5e5e5e33;
				}
				header {
					display: flex;
					justify-content: space-between;
				}
				footer {
					display: grid;
					gap: 20px;
				}
			}
		}
	}
	&__refund {
		&-block {
			display: flex;
			flex-direction: column;
			gap: 24px;
			@include mediaSize(768px) {
				gap: 12px;
			}
		}

		&-list {
			display: flex;
			flex-direction: column;
			gap: 12px;

			.l-content {
				display: grid;
				grid-template-columns: 150px 1fr;
				gap: 24px;
				@include mediaSize(560px) {
					grid-template-columns: 1fr;
					img  {
						max-width: 100px;
					}
					gap: 12px;
				}
			}
		}
		&-footer {
			display: flex;
			justify-content: flex-end;
			@include mediaSize(560px) {
				.c-button {
					width: 100%;
				}
			}
		}
	}

	&__upload {
		&-list {
			display: flex;
			flex-direction: column;
			gap: 12px;
			li {
				display: flex;
				align-items: center;
				justify-content: space-between;
				i {
					pointer-events: none;
				}
			}
			.l-content {
				display: flex;
				align-items: center;
				gap: 12px;
			}
		}
		&-item {
			border: 2px dashed #5e5e5e33;
			display: flex;
			padding: 24px;
			justify-content: center;
			align-items: center;
			border-radius: 12px;
			&.is-full {
				border-color: #019f3c;
			}
			.l-content {
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;
				gap: 12px;
			}
		}
	}
}

.l-refund-item {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	gap: 24px;
	padding: 12px;
	border: 2px solid #5e5e5e33;
	border-radius: 8px;
	&:has(.l-refund-item__input:checked) {
		border-color: #f8b711;
	}
	&__input {
		appearance: none;
		display: block;
		width: 24px !important;
		height: 24px !important;
		border-radius: 100%;
		border: 1px solid #5e5e5e33;
		flex: 0 0 auto;
		&:checked {
			border-width: 4px;
			border-color: #f8b711;
		}
	}
}
.l-textarea {
	&__input {
		border: 1px solid #5e5e5e4d;
		border-radius: 8px;
		padding: 16px;
		width: 100%;
		min-height: 120px;
		resize: vertical;
	}
}
