.p-18 {
	font-size: 18px;
	line-height: 28px;
}
.p-16 {
	font-size: 16px;
	line-height: 24px;
}
.p-14 {
	font-size: 14px;
	line-height: 20px;
}
.p-12 {
	font-size: 12px;
	line-height: 16px;
}

.title-40 {
	font-size: 40px;
	font-weight: 600;
}
.title-36 {
	font-size: 36px;
	font-weight: 600;
}
.title-32 {
	font-size: 32px;
	font-weight: 600;
}
.title-28 {
	font-size: 28px;
	font-weight: 600;
}
.title-24 {
	font-size: 24px;
	font-weight: 600;
}
.title-20 {
	font-size: 20px;
	font-weight: 600;
}
.title-14 {
	font-size: 14px;
	font-weight: 600;
}
