<!-- тут нигде не вызываешь, а просто копируешь компонент -->
<div class="input-group">
	<label for="input1" class="red-dot">Label</label>
	<div class="input-group__container">
		<input type="text" id="input1" placeholder="Найти на Олимпе" />
		<i class="input-icon">
			<svg class="icon icon--search">
				<use href="./img/svgsprite/sprite.symbol.svg#search"></use>
			</svg>
		</i>
	</div>
	<span class="hint">hint</span>
</div>

<!-- стили указаны тоже просто так какие использует итд -->
<style lang="scss">
	.input-group {
		display: flex;
		flex-direction: column;
		gap: 8px;
		min-width: 300px;

		&__container {
			position: relative;
			input {
				border: 1px solid var(--color-border-secondary);
				border-radius: var(--radius-8);
				padding: 16px;
				width: 100%;
				transition: all 0.4s ease;
				&::placeholder {
					color: #5e5e5e;
				}
				&:focus,
				&:focus-within {
					border-color: var(--color-accent);
				}
			}
			.input-icon {
				position: absolute;
				right: 16px;
				top: 50%;
				transform: translateY(-50%);
			}
		}
	}

	.red-dot {
		position: relative;
		&::after {
			content: '*';
			color: #d91528;
			position: absolute;
			left: -10px;
		}
	}

	.form-group.success .input-container {
		border-color: green;
	}

	.form-group.success .hint {
		color: green;
	}

	.form-group.error .input-container {
		border-color: red;
	}

	.form-group.error .hint {
		color: red;
		font-style: italic;
	}

	/* Заблокированное состояние */
	.form-group.disabled .input-container {
		background-color: #f5f5f5;
		pointer-events: none;
	}

	.form-group.disabled .input-container input {
		color: #aaa;
	}

	/* Размер кнопки */
	.input-container button {
		margin-left: 10px;
	}
</style>
