.c-button {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 8px;
	padding: 14px 16px;
	border-radius: var(--radius-12);
	background-color: var(--color-accent);
	font-size: clamp(0.75rem, 0.2813rem + 1.5vw, 1.125rem);
	text-align: center;
	transition: all 0.4s ease;
	text-align: center;
	&:hover {
		background-color: #d39e16;
	}
	&.gray {
		background-color: #e3e3e3;
		&:hover {
			background-color: #cbcbcb;
		}
	}
	&.small {
		padding: 8px;
		border-radius: var(--radius-8);
		@include mediaSize(820px) {
			padding: 6px;
		}
	}
	&.disabled {
		pointer-events: none;
		background-color: #5e5e5e33;
		color: #5e5e5e80;
	}
	&.transparent {
		background-color: transparent;
	}
	@include mediaSize(540px) {
		border-radius: 8px;
	}
}
.l-like {
	&.active {
		background-color: #f8b711;
		fill: #232323 !important;
	}
}
