.c-button {
	display: flex;
	align-items: center;
	gap: 8px;
	padding: 14px 16px;
	border-radius: var(--radius-12);
	background-color: var(--color-accent);
	font-size: clamp(0.75rem, 0.2813rem + 1.5vw, 1.125rem);
	text-align: center;
	&.gray {
		background-color: #e3e3e3;
	}
	&.small {
		padding: 8px;
		border-radius: var(--radius-8);
		@include mediaSize(820px) {
			padding: 6px;
		}
	}
	@include mediaSize(768px) {
		padding: 10px 16px;
	}
}
