.input-group {
	display: flex;
	flex-direction: column;
	gap: 8px;
	min-width: 150px;
	label {
		// display: block;
		// font-weight: bold;
		// margin-bottom: 5px;
	}
	&__container {
		position: relative;
		input {
			border: 1px solid var(--color-border-secondary);
			border-radius: var(--radius-8);
			padding: 16px;
			width: 100%;
			transition: all 0.4s ease;
			&::placeholder {
				color: #5e5e5e;
			}
			&:focus,
			&:focus-within {
				border-color: var(--color-accent);
			}
			@include mediaSize(820px) {
				font-size: 14px;
				line-height: 20px;
				padding: 15px 16px;
			}
		}
		.input-icon {
			position: absolute;
			right: 16px;
			top: 50%;
			transform: translateY(-50%);
		}
	}
}

.red-dot {
	position: relative;
	&::after {
		content: '*';
		color: #d91528;
		position: absolute;
		left: -10px;
	}
}

.l-select {
	position: relative;
	width: fit-content;
	&.active {
		.l-select__btn {
			border: 1px solid #f8b711;
		}
	}
	&__btn {
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 16px;
		border-radius: 12px;
		border: 1px solid #5e5e5e4d;
		min-width: 300px;
	}
	&__list {
		background: white;
		border-radius: 12px;
		padding: 16px;
		box-shadow: 0px 2px 2px 0px #5e5e5e33;
		top: 120%;
		width: 100%;

		a {
			padding: 8px;
			position: relative;
			display: flex;
			align-items: center;
			gap: 8px;
			white-space: nowrap;
			border-radius: 6px;
			&:hover {
				background-color: #f9fafb;
			}
			&.active {
				&::before {
					content: '';
					display: block;
					width: 24px;
					height: 24px;
					background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M18.0607 9.06066L11.0607 16.0607C10.7678 16.3536 10.2929 16.3536 10 16.0607L6 12.0607L7.06066 11L10.5303 14.4697L17 8L18.0607 9.06066Z' fill='%23F8B711'/%3E%3C/svg%3E%0A");
					background-size: auto;
					background-repeat: no-repeat;
				}
			}
		}
	}
}
