/* Стили модального окна */
.fancybox__content {
	padding: 0 !important;
	border-radius: unset !important;
	background-color: transparent !important;
}
.base-modal {
	max-width: 426px;
	width: 100dvw;
	padding: 24px;
	border-radius: var(--radius-16);
	background-color: white;
	.call-form {
		margin-top: 32px;
	}
}

.l-toast {
	display: none;
	position: fixed;
	width: 100%;
	max-width: 426px;
	top: 20px;
	right: 72px;
	z-index: 1000;
	background-color: var(--color-bg-secondary);
	border-radius: 6px;
	overflow: hidden;
	&.active {
		display: flex;
	}
	&.success {
		border: 2px solid var(--color-success-secondary);
		.l-toast__icon {
			background-color: var(--color-success-tertiary);
		}
	}
	&.info {
		border: 2px solid #47adff;
		.l-toast__icon {
			background-color: #8ccbff;
		}
	}
	&.warning {
		border: 2px solid var(--color-warning-secondary);
		.l-toast__icon {
			background-color: var(--color-warning-tertiary);
		}
	}
	&.error {
		border: 2px solid var(--color-error-secondary);
		.l-toast__icon {
			background-color: var(--color-error-tertiary);
		}
	}

	&__icon {
		padding: 16px 12px;
		background-color: var(--color-success-tertiary);
	}
	&__content {
		display: flex;
		flex-direction: column;
		padding: 16px;
	}
	&__btn {
		padding: 16px 16px 0 0;
		&-close {
			display: flex;
			justify-content: center;
			align-items: center;
			width: 24px;
			height: 24px;
			background-color: #e3e3e3;
			border-radius: var(--radius-4);
			font-size: 30px;
			transition: color 0.3s ease;
		}
	}
	@include mediaSize(1200px) {
		right: 25px;
	}
	@include mediaSize(820px) {
		top: 70px;
		right: auto;
		left: 50%;
		transform: translate(-50%, -50%);
	}
	@include mediaSize(460px) {
		max-width: 343px;
	}
	@include mediaSize(375px) {
		max-width: 300px;
	}
}