.l-pagination {
	max-width: 756px;
	margin: 32px auto 0px auto;
	&__list {
		display: flex;
		justify-content: space-between;
		align-items: center;
		gap: 12px;
	}
	&-item {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 52px;
		height: 52px;
		border: none;
		border-radius: var(--radius-12);
		transition: background-color 0.3s, color 0.3s;
		@include mediaSize(530px) {
			width: 40px;
			height: 40px;
		}
		&.disabled {
			display: flex;
			justify-content: center;
			align-items: center;
			width: 52px;
			height: 52px;
			svg {
				fill: var(--color-fr-primary);
			}
			&:hover {
				background-color: #fff;
			}
		}
		&.active {
			background-color: var(--color-accent);
		}
		&:last-child {
			&:hover {
				svg {
					fill: var(--color-fr-primary);
				}
			}
		}
		&.dots {
			display: none;
			@include mediaSize(800px) {
				display: inline;
			}
		}
		&:hover {
			background-color: var(--color-accent); //add something
		}
		&:nth-child(4) {
			@include mediaSize(400px) {
				display: none;
			}
		}
		&:nth-child(5) {
			@include mediaSize(500px) {
				display: none;
			}
		}
		&:nth-child(6) {
			@include mediaSize(600px) {
				display: none;
			}
		}
		&:nth-child(7) {
			@include mediaSize(800px) {
				display: none;
			}
		}
		&:nth-child(8) {
			@include mediaSize(800px) {
				display: none;
			}
		}
		&:nth-child(9) {
			@include mediaSize(800px) {
				display: none;
			}
		}
		&:nth-child(10) {
			@include mediaSize(800px) {
				display: none;
			}
		}
	}
	&-link {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;
		height: 100%;
		border-radius: var(--radius-12);
	}
}
